.card {
    width: 12.5rem;
    padding: 1.5rem;
    border: 1px solid #222222;
}

.card-title {
    margin-bottom: 1rem;
}

.tag-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.tag-container span {
    padding: 0.25rem 1rem;
    border: 1px solid #222222;
}