@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --ff-default:  "Figtree", sans-serif;

    --fw-500: 500;
    --fw-700: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-default);
    font-weight: var(--fw-500);
    height: 100vh;
}

#root, main {
    height: 100%;
}

img {
    display: block;
    max-width: 100%;
}

.wrapper {
    padding: 2.5rem 0;
}

h1 {
    margin-bottom: 4rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

.card-container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}